@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
	background-image: url("https://images01.nicepage.com/2c/aa/2caae017a61202f87bc36fab57e85a63.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); /*the black layer over background */
}

.con1left {
	width: 40%;
	height: fit-content;
}
.con1right {
	width: 40%;
	height: 100%;
}

.title {
	font-size: 1rem;
	color: #f4cb0a;
	text-transform: uppercase;
}

.heading {
	font-size: 1.5rem;
	font-weight: 500;
	color: #ffffff;
}
.line {
	width: 3rem;
	border: 1px solid #f4cb0a;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.desc {
	font-size: 0.6rem;
	color: #ffffff;
}

.button1 {
	border: none;
	background-color: #f4cb0a;
	color: #ffffff;
	font-size: 0.6rem;
	height: 1.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 3px;
	text-transform: uppercase;
}

.button2 {
	/* background-color: #ffffff; */
	background: none;
	border: 1.5px solid white;
	font-size: 0.6rem;
	height: 1.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 3px;
	text-transform: uppercase;
	color: #ffffff;
}

.con1img {
	height: 70%;
	width: 100%;
	object-fit: contain;
	margin-top: 22.5%;
}

.container2 {
	display: flex;
	width: 100%;
	height: 50vh;
	justify-content: center;
	align-items: center;
}

.con2left {
	width: 35%;
}
.con2right {
	width: 40%;
}

.textblack {
	color: #000;
}

.desc2 {
	font-size: 0.8rem;
	color: #b3b3b3;
}

.container3 {
	width: 100%;
	height: 30vh;
	display: flex;
}

.card {
	width: 33.33%;
	height: 100%;
	position: relative;
}

.cardDesc {
	position: absolute;
	padding: 1rem;
	bottom: 0;
}

.cardimage {
	width: 100%;
	height: 100%;
}

.textWhite {
	color: #fff;
}

.container4 {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}
.servicescard {
	width: 30%;
	display: flex;
	gap: 0.5rem;
}
.icon {
	height: 1.2rem;
	width: 1.2rem;
	border: 1px solid #f4cb0a;
	padding: 1px 5px;
	border-radius: 5px;
}

.heading2 {
	font-size: 0.7rem;
}

.desc3 {
	font-size: 0.55rem;
}
