table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 0.7rem;
}

tr:nth-child(odd) {
  background-color: #d6d6d6;
}

button {
  padding: 0.6rem;
  margin: auto;
}

button:hover {
  cursor: pointer;
  background-color: rebeccapurple;
  color: beige;
  scale: 1.2;
  rotate: 20deg;
}
